.login-container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-box h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .button-group {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-group button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-group button:hover {
    background-color: #45a049;
  }
  
  .forgot-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-link a {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
  }
  
  .forgot-link a:hover {
    text-decoration: underline,color(#007BFF);
    text-underline-offset: 2px;
    color: #000000;
  }
  